<div class="row">
  <form>
    <div class="col-sm-4 col-sm-offset-2 form-group">
      <input type="text" class="search-query form-control" placeholder="Search" ng-model="user.username" />
    </div>
    <div class="col-sm-3 form-group">
      <button class="btn btn-block btn-primary" ng-click="getUserInfo(user)">Search Github</button>
    </div>
  </form>
</div>
<div class="row">
  <div ui-view="profile" class="col-sm-4"></div>
  <div ui-view="repos" class="col-sm-4"></div>
  <div ui-view="notes" class="col-sm-4"></div>
</div>
