<h2>{{ userProfile.login }}'s Profile</h2>
<ul class='list-group'>
  <li class='list-group-item' ng-if="userProfile.avatar_url">
    <img ng-src="{{ userProfile.avatar_url }}">
  </li>
  <li class="list-group-item" ng-if="userProfile.blog">{{ userProfile.blog }}</li>
  <li class="list-group-item" ng-if="userProfile.followers">
    Followers<span class='badge'>{{userProfile.followers }}</span>
  </li>
  <li class="list-group-item" ng-if="userProfile.following >= 0">
    Following<span class='badge'>{{userProfile.following }}</span>
  </li>
  <li class="list-group-item" ng-if="userProfile.public_repos >= 0">
    Public Repos<span class='badge'>{{userProfile.public_repos }}</span>
  </li>
  <li class="list-group-item" ng-if="userProfile.url">
    <a href="{{userProfile.url}}" target="_blank">Visit on Github</a>
  </li>
</ul>
