<div class="row">
  <div class="col-sm-12">
    <div class="row">
    <h2>Notes</h2>
    <a ui-sref='index.user' class="btn btn-primary">All Notes</a>
      <a ui-sref='.addnote' class="btn btn-primary">Write a Note</a>
    </div>
    <div ui-view="" class="row">
      <div>
        <ul class="list-group" ng-if="userNotes.length > 0">
          <li class="list-group-item" ng-repeat="note in userNotes">{{note.content}}</li>
        </ul>
        <h4 ng-if="userNotes.length == 0">No notes!</h4>
      </div>
    </div>
  </div>
</div>
